<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Workflow_Management_System.Properties.Settings.WorkFlowDBConnectionString"
            connectionString="Data Source=LAPTOP-UK43CTN;Initial Catalog=WorkFlowDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>